{% load url from future %}

<div class="row-fluid class2go">
    <small><a href="http://class2go.stanford.edu">Powered by Class2Go</a></small>
</div>

<div id="global-footer" class="footer hidden-phone">
    <div class="container">
        <div class="row">
                <div id="bottom-text" class="span11">
                    <div id="bottom-menu">

                            CRICOS Code: 00126G |
                            <a href="{% url 'c2g.views.tos' %}">Terms of Use</a> |
                            <a href="{% url 'c2g.views.tos' %}#copyright">Copyright Complaints</a> |
                            <a href="{% url 'c2g.views.contactus' %}">Contact Us</a>

                    </div>
                    <p class="vcard">&copy; <span class="fn org">The University of Western Australia</span>, <span class="adr"><span class="locality">Crawley</span>, <span class="region">WA</span> <span class="postal-code">6009</span></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
