{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you requested username info or a password reset for your UWA Class2Go user account.{% endblocktrans %}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://{{ SITE_URL }}://{{domain}}{% url 'auth_password_reset_confirm' uidb36=uid token=token %}
{% endblock %}


{% blocktrans %}The UWA Class2Go Team{% endblocktrans %}

{% endautoescape %}
