/*
 * File:   c2g_exercises.css
 * Author: Chris Lewis (cmslewis@gmail.com)
 * =============================================================================
 * This file contains preliminary CSS styling for the Class2Go exercise pages,
 * all of which belong to the CS145 database course right now.
 */

/* Poor Man's CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* Top-Level Elements */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  padding: 25px;
}
h1 {
  margin-bottom: 25px;
}
h1 .separator {
  font-weight: 300;
}
ul, ol {
  margin-left: 20px;
}
.instructions {
  background: #FFFCCF;
  border: 1px solid #D6C537;
  color: #8B7500;
  display: block;
  margin: 0 0 15px;
  padding: 7px 10px;
}

/* Question-Level Elements */
.question {
  background: #f8f8f8;
  border: 1px solid #ddd;
  margin: 15px 0;
  padding: 15px;
}
.question h2 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.question textarea {
  font-family: 'Courier New', 'Courier', monospace;
  font-size: 85%;
  font-weight: bold;
  line-height: 1.4;
  min-height: 200px;
  padding: 5px 7px;
  margin: 10px 0;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}
.question textarea::-webkit-input-placeholder,
.question textarea::-moz-placeholder {
  font-weight: normal;
}
.question button {
  padding: 5px 7px;
  font-size: 85%;
}
.question .output {
  border: 1px solid #DDD;
  margin: 10px 0 0;
  padding: 10px;
}

.feedback  {

    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    font-size: 90%;
    padding: 1px;
}

.feedback th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
}
