/* A full-screen element that is not the root element should be stretched to cover the viewport.
 * To use, start with fs-container, fs-inner, and finally fs that is the element to scale to fullscreen.
 * Assign class fs to elements which need to be rescaled when moving into fs mode, or extend CSS classes as required.
 */
:-webkit-full-screen:not(:root) {
	width: 100% !important;
	height: 100% !important;
	float: none !important;
}
:-webkit-full-screen .tohide {
	display: none;
}
:-moz-full-screen .tohide {
	display: none;
}
:-moz-full-screen:not(:root) {
	width: 100% !important;
	float: none !important;
}
:-moz-full-screen #fs-inner {
	display: table-cell;
	vertical-align: bottom;
}
:-moz-full-screen #fs {
	width: 100%;
	margin: auto;
}
:-moz-full-screen #container {
	width: 100%;
	position: static;
	height: 100%;
}
:-webkit-full-screen #container {
	width: 100%;
	height: 100%;
}
:-moz-full-screen .tohide {
	display: none;
}
#fs-container:-moz-full-screen {
	display: table;
	margin: auto;
	float: none;
	width: 100%;
	height: 100%;
}
