#container {
	width:854px;
	height:480px;
	position:fixed;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#quiz {
	position:absolute;
	top:0;
	z-index:1;
	width:100%;
	height:100%;
	background-color:blue;
	visibility: hidden;
}
#player {
	position:absolute;
	top:0;
	z-index:0;
	width:100%;
	height:100%;
}
#control {
	bottom: 0;
	height: 25px;
	width:100%;
	z-index:2;
	position:absolute;
	background-color: rgba(0,0,0,0.5);
}
.progress-bar {
	position:relative;
	margin-left:50px;
	margin-right:250px;
	height: 15px;
	top: 5px;

	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	background: #e6e6e6;
	background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));

	box-shadow: inset 0 -3px 3px #d5d5d5;
}
.marker {
	position:absolute;
	top:0;
	left:0;
	margin-left:-3px;
	height:100%;
	width:4px;
	background:red;
}
.marker:hover {
	cursor: pointer;
}
.marker-bar {
	position:absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;
}

.time-bar {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	background: #4cbae8;
	background-image: -moz-linear-gradient(top, #4cbae8, #39a2ce);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4cbae8),color-stop(1, #39a2ce));

	box-shadow: inset 0 -3px 3px #39a2ce;
}
.play {
	float: left;
	padding:3px;
}
.play:hover {
	cursor: pointer;
}

.stop {
	float: left;
	padding:3px;
	padding-right:10px;
}
.stop:hover {
	cursor: pointer;
}
.time {
	float: right;
	color: white;
	padding:3px;
}
.mute {
	margin-top:3px;
	padding:3px;
	position: absolute;
	bottom: 0px;
}
.mute:hover {
	cursor: pointer;
}

.volume-box {
	float: right;
	padding: 3px;

	-moz-transition: all 0.1s ease-in-out; /* Firefox */
	-ms-transition: all 0.1s ease-in-out; /* IE future proofing */
	-o-transition: all 0.2s ease-in-out;  /* Opera */
	-webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
	transition: all 0.1s ease-in-out;
}

.volume-slider {
	visibility: hidden;
	margin-top: -105px;
	opacity: 0;

	-moz-transition: all 0.1s ease-in-out; /* Firefox */
	-ms-transition: all 0.1s ease-in-out;  /* IE future proofing */
	-o-transition: all 0.1s ease-in-out;  /* Opera */
	-webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
	transition: all 0.1s ease-in-out;
}
.volume-box:hover {
	color: #676767;
	cursor: pointer;
}
.volume-box:hover .volume-slider {
	position: relative;
	visibility: visible;
	opacity: 1;
	cursor: pointer;
}

#toggle-fs {
	padding:3px;
	float:right;
}
#toggle-quiz {
	width:60px;
	float: right;
	padding:3px;
	color:white;
	float:right;
}
#toggle-quiz:hover {
	cursor: pointer;
}
#toggle-fs:hover {
	cursor: pointer;
}
.caption {
	width:60px;
	float: right;
	padding:3px;
	color:white;
	float:right;
}
.caption:hover {
	cursor: pointer;
}

