.diamond-narrow {
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-bottom: 7px solid red;
	position: relative;
	top: -3px;
}
.diamond-narrow:after {
	content: '';
	position: absolute;
	left: -3px; top: 7px;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top: 7px solid red;
}
