<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Fullscreen API</title>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
		<script src="videoplayer/js/popcorn-complete.min.js"></script>
		<script src="videoplayer/js/videoplayer.js"></script>
		<script src="videoplayer/js/fullscreen.js"></script>
		<script src="videoplayer/js/sidebar.js"></script>

		<link rel="stylesheet" href="videoplayer/css/bootstrap.css" />
		<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
		<link rel="fullscreen stylesheet" href="videoplayer/css/fullscreen.css" type="text/css">
		<link rel="video stylesheet" href="videoplayer/css/video.css" type="text/css">
		<link rel="player stylesheet" href="videoplayer/css/player.css" type="text/css">

		<script>
			$(document).ready(function() {
				initializeFS();
				initializeSidebar();
				$(function() {
					$(window).bind("resize", function() {
						resizePlayer();
					}).trigger("resize");
				});
				var video = {"url": "http://www.youtube.com/embed/5cca4lpDvus?autoplay=0&wmode=transparent&fs=0&controls=1&rel=0&modestbranding=1&showinfo=0&start=0&enablejsapi=1&disablekb=1&amp;"};

				var popcornVideo = Popcorn.youtube("#video", video.url);
				popcornVideo.controls(false);
				var videoPlayer = new VideoPlayer(popcornVideo, "#overlay");
				videoPlayer.addSubtitlesToVideo("videoplayer/subtitles.txt", "#subtitle");
				//videoPlayer.addCuesToVideo(quizzes);
				//videoPlayer.addControls("#video-controls");
				videoPlayer.addThumbnailGallery("videoplayer/imgs/manifest.txt", "#gallery", "videoplayer/imgs/");
				videoPlayer.addTranscriptGallery("videoplayer/subtitles.txt", "#transcript");

			});
		</script>


	</head>
	<body>

		<div id="fs-container">
			<div id="fs-inner">
				<div id="fs">
					<div id="overlay"></div>
					<div id="player" class="t">
						<div id="player-container" class="c expandable">
							<div class="t">
								<div class="r">
									<div id="player-controls" class="c">
										<div id="toggle-fs" class="btn btn-inverse controls-left controls" onclick="enterFullscreen()"><i class="icon-fullscreen icon-white"></i></div>
										<div id="gallery-expand" class="controls-right btn btn-inverse controls"><i class="icon-forward icon-white"></i></div>
									</div>
								</div>
								<div class="r" style="background:black;">
									<div id="video" class="c"></div>
								</div>
								<div class="r">
									<div id="video-controls" class="c">
									</div>
								</div>
								<div class="r">
									<div id="subtitle-container" class="c">
										<div id="subtitle"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="gallery-container" class="c expandable">
							<div id="gallery-sidebar">
								<div class="t">
									<div class="r">
										<div id="gallery-controls" class="c">
											<div id="gallery-collapse" class="controls-left btn btn-inverse controls"><i class="icon-backward icon-white"></i></div>
											<div id="toggle-thumbnail" class="controls-right btn btn-inverse controls"style="display:none"><i class="icon-film icon-white"></i> View Thumbnails</div>
											<div id="toggle-transcript" class="controls-right btn btn-inverse controls" ><i class="icon-list icon-white"></i> View Transcript</div>
										</div>
									</div>
									<div class="r">
										<div class="c">
											<div id="gallery"></div>
											<div id="transcript" style="display:none"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
